<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="claro">
<script>
    var dojoConfig = {
        async: true,
        isDebug: true,
        // This code registers the correct location of the "demo"
        // package so we can load Dojo from the CDN whilst still
        // being able to load local modules
        packages: [
            {
                name: "Rscript",
                location: '/resource/js/dojo-rql/lib'
            },
            {
                name: "dstore",
                location: '/resource/js/dojo-dstore/'
            }
        ]
    };
</script>
<script src="resource/js/dojo/dojo.js"></script>
<ul>
	<li>Users ds: <b>http://http://185.128.234.3:10080/api/v1/rest/users</b></li>
</ul>
<div id="DataStoreViewer"></div>
<script>    
/*<a>FOR READ DOC - GO TO "https://github.com/avz-cmf/dojo-rql/blob/master/DataStoreVIewer.md"</a>*/
    require([
        "dojo/dom",
        "Rscript/DataStoreViewer/widget/DataStoreViewer",
    ], function (dom,
                 DataStoreViewer) {
        var dataStoreViewer = new DataStoreViewer();
        dataStoreViewer.placeAt(dom.byId('DataStoreViewer')).startup();
    })
</script>
</body>
</html>
