<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/resource/js/dojo/resources/dojo.css" rel="stylesheet">
    <link href="/resource/js/dijit/themes/claro/claro.css" rel="stylesheet">
    <link rel="stylesheet" href="/resource/js/dojox/highlight/resources/highlight.css"/>
    <link rel="stylesheet" href="/resource/js/dojox/highlight/resources/pygments/colorful.css"/>
    <link rel="stylesheet" href="/resource/js/dgrid/css/dgrid.css"/>
    <link rel="stylesheet" href="/resource/js/dgrid/css/skins/claro.css"/>
    <link rel="stylesheet" href="/resource/js/dgrid/css/skins/claro.css"/>
    <link rel="stylesheet" href="/resource/js/dojox/grid/enhanced/resources/claro/EnhancedGrid.css"/>
    <link rel="stylesheet" href="/resource/js/dojox/grid/enhanced/resources/EnhancedGrid_rtl.css"/>
    <link rel="stylesheet" href="/resource/js/dojo-rql/lib/FilterEditor/resources/css/FilterEditor.css"/>

    <link rel="stylesheet" href="/resource/js/dojo-rql/lib/DataStoreViewer/resource/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/resource/js/dojo-rql/lib/DataStoreViewer/resource/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/resource/js/dojo-rql/lib/DataStoreViewer/resource/bootstrap/css/dashboard.css">

    <script src="/resource/js/dojo-rql/lib/DataStoreViewer/resource/bootstrap/js/bootstrap.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body class="claro">
<script>
    var dojoConfig = {
        async: true,
        isDebug: true,
        // This code registers the correct location of the "demo"
        // package so we can load Dojo from the CDN whilst still
        // being able to load local modules
        packages: [
            {
                name: "Rscript",
                location: '/resource/js/dojo-rql/lib'
            },
            {
                name: "dstore",
                location: '/resource/js/dojo-dstore/'
            }
        ]
    };
</script>
<script src="resource/js/dojo/dojo.js"></script>
<div id="DataStoreViewer"></div>
<script>
    /*<a>FOR READ DOC - GO TO "https://github.com/avz-cmf/dojo-rql/blob/master/DataStoreVIewer.md"</a>*/
    require([
        "dojo/dom",
        "Rscript/DataStoreViewer/widget/DataStoreViewer",
    ], function (dom,
                 DataStoreViewer) {
        var dataStoreViewer = new DataStoreViewer();
        dataStoreViewer.placeAt(dom.byId('DataStoreViewer'));
        dataStoreViewer.startup();
    })
</script>
</body>
</html>
